<h1>All Episodes</h1>

<ul>
  <% @episodes.each do |episode| %>
    <li><a href="/episodes/<%= episode.id %>"><%= "Episode #{episode.number} - #{episode.date.strftime("%B %d, %Y")}"%></a></li>
  <% end %>
</ul>
